
<div>
  <h3>Editar Cliente</h3>
</div>
<form class="example-container" [formGroup]="productForm" (ngSubmit)="updateCliente(productForm.value)">
  <mat-form-field>
    <input matInput name="nome" placeholder="Nome do Cliente" formControlName="nome">
  </mat-form-field>
  <mat-form-field>
    <textarea  matInput name="email" placeholder="Email do Cliente" formControlName="email"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="sexo" placeholder="Sexo do Cliente" formControlName="sexo">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="dataDeNascimento" placeholder="Nascimento" formControlName="dataDeNascimento">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="naturalidade" placeholder="Naturalidade" formControlName="naturalidade">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="nacionalidade" placeholder="Nacionalidade" formControlName="nacionalidade">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="cpf" placeholder="CPF" formControlName="cpf">
  </mat-form-field>

  <button type="submit" [disabled]="!productForm.valid" mat-button color="primary" >Editar</button>
</form>
